@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype')
}

body {
    font-family: "OpenSans", serif;
}

body div:first-of-type {
    width: 138px;
    height: 138px;
    background: url('../images/ackee.png');
}
